.center-box {
  display: none;
  flex: 1;
  flex-flow: column;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  justify-content: top;
  align-items: center;
  transition: 0.15s;
}

.center-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-forgot-password {
  font-size: 10px;
  font-size: 1vw;
  color: whitesmoke;
}

.email-box-forgot-password {
  font-size: 1vw;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(59, 59, 59);
  color: white;
  padding: 0.5vw;
  padding-left: 1vw;
}

.email-box-forgot-password::placeholder {
  color: white;
  opacity: 0.5;
}

.submit-button {
  margin-top: 5vw;
  border-radius: 10px;
  border: none;
  background-color: rgb(21, 101, 221);
  color: white;
  font-weight: bold;
  padding: 0.3vw 1vw;
  font-size: 1.2vw ;
  box-shadow: 0px 9px 20px 0px rgb(20, 20, 20);
  transition: 0.15s;
  align-self: center;
  cursor: pointer;
}

.submit-button:hover {
  transform: scale(1.08);
  box-shadow: 0px 16px 20px 0px rgb(20, 20, 20);
}

.submit-button:active {
  transform: scale(1);
  opacity: 0.8;
  box-shadow: 0px 7px 20px 0px rgb(20, 20, 20);
}

.back-button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size:1vw ;
  margin-top: 2vw;
  cursor: pointer;
}

.back-button:hover {
  text-decoration: underline;
}
