.top-box {
  display: flex;
  border-radius: 10px;
  height: 4vw;
  justify-content: space-between;
  background-color:  rgba(0, 0, 0, 0.356);
  box-shadow: 0px 18px 16px 0px rgba(20, 20, 20, 0.486);
  transition: 0.15s;
  padding-bottom: 0.5vw;
  position: fixed;
  z-index: 100;
  left: 4vw;
  right: 4vw;
  top: 0.3vw;
}

.left-content {
  display: flex;
  background-color: rgba(46, 45, 45, 0.300);
  border-radius: 10px;
  align-self: center;
  margin-left: 1.5vw;
  padding: 0vw;
  transition: 0.15s;
  cursor: pointer;
  box-shadow: 0px 18px 16px 0px rgba(20, 20, 20, 0.486);
}

.left-content:hover {
  transform: scale(1.05);
  box-shadow: 0px 16px 20px 0px rgb(20, 20, 20);
  background-color: rgba(46, 45, 45, 0.87);
}

.left-content:active {
  transform: scale(1);
  opacity: 0.8;
  box-shadow: 0px 7px 20px 0px rgb(20, 20, 20);
}

.home-link{
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: white;
}

.home-button {
  display: flex;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 5vw;
  font-size: 1.3vw;
  cursor: pointer;
  font-weight: bold;
  opacity: 1;
  align-items: center;
  gap: 0.5vw;
  padding: 0.5vw 1vw;
}

.logo-icon {
  height: 2vw;
  background-color: transparent;
  
}

.home-button:active {
  transform: scale(1);
  opacity: 0.8;
  box-shadow: 0px 7px 20px 0px rgb(20, 20, 20);
}

.middle-content {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  margin-left: -7.5vw;
  gap: 2vw;
}

.home-icon,.friends-icon,.events-icon,.contact-us-icon,.job-icon,.profile-icon {
  height: 2vw;
  background-color: rgba(46, 45, 45, 0.603);
  padding: 0.5vw;
  border-radius: 10px;
  align-self: center;
  transition: 0.15s;
  cursor: pointer;
  box-shadow: 0px 18px 16px 0px rgba(20, 20, 20, 0.664);
}

.home-icon:hover,.friends-icon:hover,.events-icon:hover,.contact-us-icon:hover,.job-icon:hover,.profile-icon,.social-icon:hover {
  transform: scale(1.14);
  box-shadow: 0px 16px 20px 0px rgb(20, 20, 20);
  background-color: rgba(46, 45, 45, 0.87);
}

.home-icon:active,.friends-icon:active,.events-icon:active,.contact-us-icon:active,.job-icon:active,.profile-icon,.social-icon:active {
  transform: scale(1);
  opacity: 0.8;
  box-shadow: 0px 7px 20px 0px rgb(20, 20, 20);
}

.right-content {
  display: flex;
  background-color: transparent;
  border-radius: 10px;
  align-self: center;
  margin-right: 1.5vw;
  padding: 0vw;
  transition: 0.15s;
  cursor: pointer;
  box-shadow: none;
}

.search-bar {
  display: flex;
  background-color: transparent;
  gap: 1.5vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.search-input {
  height: 2vw;
  flex: 15;
  outline: none;
  border: none;
  border-radius: 5px;
  gap: 1.5vw;
  box-shadow: 0px 9px 20px 0px rgb(20, 20, 20);
  background-color: rgb(59, 59, 59);
  color: white;
  margin-left: 0%;
  padding-left: 1vw;
  font-size: 1.1vw;
}

.search-input::placeholder {
  color: white;
  opacity: 0.5;
}

.search-button {
  flex: 1;
  border-radius: 5px;
  border: none;
  border: none;
  background-color: rgb(21, 101, 221);
  color: white;
  font-weight: bold;
  box-shadow: 0px 9px 20px 0px rgb(20, 20, 20);
  transition: 0.10s;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1vw;
}

.search-icon {
  height: 1.1vw;
  background-color: transparent;
  padding: 0.5vw;
  border-radius: 10px;
  align-self: center;
  transition: 0.15s;
  cursor: pointer;
  padding: 0%;
  padding-top: 0.2vw;
  margin: 0%;
}

.search-button:hover {
  transform: scale(1.08);
  box-shadow: 0px 16px 20px 0px rgb(20, 20, 20);
}

.search-button:active {
  transform: scale(1);
  opacity: 0.8;
  box-shadow: 0px 7px 20px 0px rgb(20, 20, 20);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color:  transparent;
  border-radius: 10px;
  background-color:  rgba(0, 0, 0, 0.356);
  box-shadow: 0px 18px 16px 0px rgba(20, 20, 20, 0.486);
  padding: 1.5vw;
  margin-bottom: 1.5vw;
  align-items: center;
}

.footer-right-content {
  text-align: end;
}

.footer p {
  margin: 0%;
  background-color: transparent;
  font-size: 1.5vw;
}

.footer-policy {
  text-decoration: none;
  color: white;
}

.social-links {
  background-color: transparent;
  justify-content: center;
  display: flex;
  gap: 3vw;
}

.social-icon{
  padding: 0%;
  background-color: transparent;
  height: 3vw;
  border-radius: 10px;
  transition: 0.15s;
}

.social-icon:hover {
  transform: scale(1.14);
  background-color: rgba(255, 255, 255, 0.87);
}

.social-icon:active {
  transform: scale(1);
  opacity: 0.8;
  box-shadow: 0px 7px 20px 0px rgb(20, 20, 20);
}