.general-signin {
  background-image: url("../images/background-test.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: Arial,roboto;
  padding: 0.5vw 4vw;
  margin: 0;
}

.general-signin::-webkit-scrollbar {
    display: none;
}

.main-box {
    display: flex;
    flex: 1;
    background-color:  rgba(0, 0, 0, 0.534);
    box-shadow: 0px 18px 16px 0px rgba(20, 20, 20, 0.486);
    border: none;
    border-radius: 10px;
    margin-top: 5.5vw;
    padding-left: 30vw;
    padding-right: 30vw;
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;
    margin-bottom: 1.5vw;
}




